Connector/Riksbanken/pl_riksbanken_silver.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "schema": "dbo",
              "table": "riksbanken_config"
            },
            "schema": [],
            "linkedService": {
              "name": "lh_riksbanken_bronze",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "5237c40d-44c1-ac9c-46e8-0ee36bbefa69",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lookup_config",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "d6ad5566-8a42-8600-42bf-12cb531cf310",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "config_list": {
              "value": "@string(activity('lookup_config').output.value)",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "nb_riksbanken_silver",
        "dependsOn": [
          {
            "activity": "lookup_config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}