Connector/Business NXT/pl_bnxt_bronze.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "schema": "dbo",
              "table": "bnxt_config"
            },
            "schema": [],
            "linkedService": {
              "name": "lh_graphql",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "42e09297-6884-a480-4b94-64e408d8e28f",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "config_lookup",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "1aa8b30f-3961-bf62-4527-c5d205236def",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "config_list": {
              "value": "@string(activity('Lookup').output.value)",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "nb_graphql_extract",
        "dependsOn": [
          {
            "activity": "config_lookup",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}